.item {
  padding: 15px 19px 10px 19px;
  border-radius: 10px;
  width: 220px;
  background-color: white;
  margin: 20px 13px;
  overflow: hidden;
  position: relative;
  transition: all 0.6s ease-in-out;
  bottom: 0;

  .img-container {
    height: 290px;
  }

  .item-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hover-info {
    z-index: 2;
    display: none;
    position: absolute;
    bottom: 17px;
    left: 20.5px;
    width: 84%;
    background-color: white;

    .sizes {
      padding-top: 7px;
      font-size: 14px;
      .size {
        width: 29px;
        height: 22px;
        font-size: 11px;
        color: #252525;
        background-color: #ebebeb00;
        border: 1px solid #bdbdbd;
        border-radius: 3px;
        margin: 0 2.5px;
        transition: all 0.2s ease;
        &:hover {
          cursor: pointer;
          border-color: #ffc46c;
          transform: scale(1.1);
        }
      }
      .chosen {
        border-color: #ffc671;
        transform: scale(1.1);
        background-image: linear-gradient(to right, #ffb74b, #ffda82);
      }
    }
  }

  .img-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 11px;
    z-index: -1;
    position: absolute;
    bottom: 57px;
    left: 0;
    background-color: white;
    height: 20px;
    width: 100%;
  }

  .item-info {
    padding-top: 10px;

    .rating {
      margin: 2px 0 4px 0;
    }

    .price {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      font-size: 18px;
      margin-bottom: 4px;

      .symbol {
        font-size: 14px;
        color: grey;
      }
      .whole {
        padding-right: 1px;
        padding-left: 1px;
        color: #939393;
      }
      .fraction {
        font-size: 10px;
        color: #939393;
      }
    }
  }

  &:hover {
    bottom: 20px;
    box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .hover-info {
      display: block;
    }
    .price {
      display: none;
    }
    .name {
      display: none;
    }
    .rating {
      display: none;
    }
    .img-slider {
      z-index: 1;
      bottom: 83.2px;
      transition: all 0.7s ease-in-out;
    }
  }
}
