.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  border-radius: 6px;
  border-style: none;
  padding: 0px 13px 0px 13px;
  color: white;

  &.primary {
    color: #000;
    width: 100%;
    height: 39px;
    padding: 4px 0px 5px 0;
    background-image: linear-gradient(to right, #ffb74b, #ffda82);

    &:hover {
      background-image: linear-gradient(to right, #ffb341, #ffd062);
    }
  }

  &.secondary {
    background-image: linear-gradient(to right, #ffb039, #ffc439);

    &:hover {
      background-image: linear-gradient(to right, #fda829, #ffc02a);
    }
  }

  &.red {
    background-color: rgb(220 74 55);

    &:hover {
      background-color: rgb(219 63 42);
    }
  }

  &.grey {
    background-color: #d5d5d5;

    &:hover {
      background-color: rgb(204, 204, 204);
    }
  }
  &:hover {
    cursor: pointer;
    border: none;
  }
}
