.cart-icon {
    padding-right: 35px;
     position: relative;
     color: white;

    .item-count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        background-color: #ffb538;
        border-radius: 100%;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: -1px;  
        position: absolute;
        left: 25px;
        bottom: 27px;

    }

}
