.directory-item {
  min-width: 30%;
  height: 240px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 0 7.5px 15px;
  overflow: hidden;
  

  &:hover {
    cursor: pointer;

    & .background-img {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  &.large {
    height: 380px;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
    height: 90px;
    background-color: white;
    opacity: 0.7;
    position: absolute;
  }
  .title {
    font-weight: bold;
    margin: 0 6px 0;
    font-size: 22px;
    color: #4a4a4a;
  }

  .subtitle {
    font-weight: lighter;
    font-size: 16px;
  }

  .background-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}
