.directory-item {
  min-width: 30%;
  height: 240px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 0 7.5px 15px;
  overflow: hidden;
  position: relative;

  &:hover {
    cursor: pointer;

    & .background-img {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }

    & .subtitle {
      background-color: white;
      color: black;
    }
  }

  &.large {
    height: 340px;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    opacity: 0.7;
    color: white;
  }
  .title {
    font-weight: bold;
    margin: 0;
    font-size: 22px;
    padding-bottom: 5px;
  }

  .subtitle {
    font-size: 16px;
    border: 1px solid white;
    padding: 7px 7px;
    transition: all 0.7s ease;
  }

  .background-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: black;
      opacity: 0.3;
    }
  }
}
