.fieldContainer {
  position: relative;
  margin: 45px 0;

  .label {
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    color: grey;
    transition: 300ms ease all;
  }

  .input {
    border: none;
    background: none;
    color: gray;
    display: block;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid grey;
    font-size: 18px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
  top: -14px;
  font-size: 12px;
  color: black;
}
