@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.header {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #131921;

  .logo-container {
    width: 100px;
    height: 100%;
    display: flex;
    margin-left: 177px;
    margin-top: 10px;
    align-items: center;

    .logo-txt {
      font-family: "Kaushan Script", cursive;
      text-decoration: none;
      color: white;
      font-size: 27px;
      font-weight: 700;
      text-shadow: 1px 2px #e70c0c8c;
      position: absolute;
      left: 39px;
      top: 14px;
      z-index: 2;
    }

    .logo-hr{
      position: absolute;
      left: 77px;
      top: 15px;
      z-index: 1;
    }
  }

  .options {
    display: flex;
    align-items: center;

    .option {
      margin-right: 25px;
      text-decoration: none;
      color: white;
    }
  }
}
