.parant-container {
  position: sticky;
  top: 100px;

  .txt {
    text-align: right;
    padding-top: 3px;
    font-weight: 500;
  }
}
.product-container {
  width: 200px;
  height: 440px;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  padding-top: 102px;
}
.circle {
  width: 1000px;
  height: 1000px;
  border-radius: 100%;
  background-color: #ff000000;
  position: absolute;

  &.one {
    z-index: -1;
    top: -253px;
    left: -248px;
    transform: translateY(146px);
    border: 89px solid rgba(163, 163, 163, 0.4);
  }
  &.two {
    z-index: -1;
    top: -175px;
    left: -542px;
    transform: translateY(146px);
    border: 89px solid rgba(163, 163, 163, 0.4);
  }
  &.three {
    z-index: -1;
    top: -1079px;
    left: -850px;
    transform: translateY(134px);
    border: 274px solid rgb(52 52 52 / 42%);
  }
  &.four {
    z-index: -1;
    top: -1055px;
    left: -857px;
    transform: translateY(161px);
    border: 253px solid rgb(253 253 253 / 46%);
  }
  &.five {
    z-index: -1;
    top: -1056px;
    left: -846px;
    transform: translateY(148px);
    border: 253px solid rgb(205 205 205 / 40%);
  
  }
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 155px;
}

.product-details {
  position: absolute;
  top: 380px;
  padding: 10px 20px;

  .price {
      padding: 5px 0 10px 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #585858;
  }
}
