.offer-header {
  height: 10px;
  background-image: linear-gradient(180deg, #ff81c6, #ff2b9f);
  text-align: center;
  color: white;
  box-shadow: 0 2px 4px #0000002b;
  padding: 5px 0 12px 0;
  margin: 0 0 10px 0;
  font-size: 14px;
}
